@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

// colors
$Light-red: hsl(0, 100%, 67%);
$Orangey-yellow: hsl(39, 100%, 56%);
$Green-teal: hsl(166, 100%, 37%);
$Cobalt-blue: hsl(234, 85%, 45%);
// gradient colors
$Light-slate-blue-background: hsl(252, 100%, 67%);
$Light-royal-blue-background: hsl(241, 81%, 54%);
$Violet-blue-circle: hsla(256, 72%, 46%, 1);
$Persian-blue-circle: hsla(241, 72%, 46%, 0);
// neutral colors
$White: hsl(0, 0%, 100%);
$Pale-blue: hsl(221, 100%, 96%);
$Light-lavender: hsl(241, 100%, 89%);
$Dark-gray-blue: hsl(224, 30%, 27%);

// Use transparency to get the color variations necessary to match the design. Hint: look into using `hsla()`.

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-left {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  @include flex-center;
  flex-direction: column;
  min-height: 100vh;
  width:100%;
  gap:2.5rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: $Dark-gray-blue;
  font-family: Overpass,sans-serif;
  font-weight: 600;
  font-size: 18px;
  background-color: $White;

}

#card-container{
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
  background-color: $White;
  width:80%;
}